.background {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.background_img{
  border-radius: 50%;
}

.background_header_text{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 10px; 
  margin: 0%;
}

.background_subheader_text{
  text-align: left;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: lighter;
  padding: 5px; 
}

.icon{
  vertical-align: bottom;
}