.education_div {
  text-align: left;
  min-width: 300px;
  flex-wrap: wrap;
}

.education_header_text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1px;
  margin-left: 5%;
  margin-bottom: 0%;
  margin-top: 2%;
  font-size: 1.3em;
}

.education_subheader_text {
  list-style-type: none;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: lighter;
  padding: 1px;
  margin-left: 5%;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.education {
  padding: 5px;
  margin-top: 0%;
  margin-left: 5%;
  margin-bottom: 0%;
}

.education_title{
  margin: 0%;
  font-size: .9em;
}

.education_subtitle{
  margin: 0%;
  margin-left: 5%;
  font-weight: lighter;
  flex-wrap: wrap;
  font-size: .8em;

}

.education_item{
  padding: 5px;
  margin-top: 0%;
  margin-left: 5%;
  flex-wrap: wrap;
}

.flex_grow{
  display: flex;
  flex-basis: 100%;
}

.icon {
  vertical-align: bottom;
}