.experience_div {
  text-align: left;
  min-width: 300px;
  flex-wrap: wrap;
}

.experience_header_text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1px;
  margin-left: 5%;
  margin-bottom: 0%;
}

.experience_subheader_text {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: lighter;
  padding: 1px;
  margin-left: 5%;
  flex-wrap: wrap;
}

.experience {
  padding: 5px;
  margin-top: 0%;
  margin-left: 5%;
}

.experience_title{
  margin: 0%;
}

.experience_subtitle{
  margin: 0%;
  font-weight: lighter;
  flex-wrap: wrap;

}

.experience_item{
  padding: 5px;
  margin-top: 0%;
  margin-left: 5%;
  flex-wrap: wrap;
}

.flex_grow{
  display: flex;
}