.experience_div {
  text-align: left;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.experience_header_text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  margin-left: 5%;
  margin-bottom: 0%;
}

.experience_subheader_text {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: lighter;
  padding: 5px;
  margin-left: 5%;
}

.experience {
  padding: 5px;
  margin-top: 0%;
  margin-left: 5%;
}

.experience_title{
  margin: 0%;
}

.experience_subtitle{
  margin: 0%;
  font-weight: lighter;
}

.experience_item{
  padding: 5px;
  margin-top: 0%;
  margin-left: 5%;
}