.project_div {
  background-color: rgb(22, 124, 85);
  text-align: left;
  min-width: 300px;
  width: 100%;
  flex-wrap: wrap;
}

.project_header_text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1px;
  margin-left: 5%;
  margin-bottom: 0%;
  font-size: 1.3em;
  margin-top: 2%;

}

.project_subheader_text {
  list-style-type: none;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: lighter;
  padding: 1px;
  margin-left: 5%;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.project {
  padding: 5px;
  margin-top: 0%;
  margin-left: 1%;
  margin-bottom: 0%;
}

.project_title{
  margin: 0%;
  font-size: .9em;
}

.project_subtitle{
  margin: 0%;
  font-weight: lighter;
  flex-wrap: wrap;
  font-size: .8em;

}

.project_item{
  padding: 5px;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 5%;
  flex-wrap: wrap;
}

.flex_grow{
  display: flex;
}

.icon {
  vertical-align: bottom;
}

.link{
  color: wheat;
}